.contAvatarReg {
  width: 160px;
  height: 160px;
  border-radius: 180px;
  background: #21262D;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .imgI {
    
  }
}

.contAvatarReg:hover {
  width: 160px;
  height: 160px;
  border-radius: 180px;
  background: #0C1C2E;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .imgI {
    
  }
}


.avaRegModal {
  display: flex;
  flex-wrap: wrap;
}